

<!DOCTYPE html>

<html ng-app="miApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body ng-controller="HomeAngularController" >
    
    <table>
        <tr>
            <th>Nombre</th>
        </tr>
       
    </table>
            

    <script src="~/Scripts/angular.min.js"></script>
   
</body>
</html>
